<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://creative-tim.com/presentation">
                        About
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            version 0.0.1 
            <script>
                document.write(new Date().getFullYear())
            </script> William Rodríguez MSEG-22
        </div>
    </div>
</footer>